body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    max-width: 375px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* HEADER */
header {
    background: hsl(204, 43%, 93%);
}

header h1 {
    font-size: 2rem;
}

/* SECTION 1 */
.section-one {
    background: hsl(179, 62%, 43%);
}

/* SECTION 2 */
.section-two {
    background: #4abebd;
}