:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --dark-blue: hsl(209, 33%, 12%);
    --red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Libre Franklin', sans-serif;
    background: #fff;
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 0 0;
}

.logo {
    max-width: 70px;
    margin-bottom: 30px;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 20px;
}

.title span {
    font-weight: 700;
    color: var(--dark-blue);
}

.description {
    font-size: .8rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 30px;
}

.input-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.input-btn input {
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--pale-blue);
    padding-left: 25px;
    margin-bottom: 10px;
}

.input-btn input::placeholder {
    color: hsl(0, 0%, 59%, .5);
}

.input-btn button {
    padding: 10px 0;
    color: #fff;
    background: var(--blue);
    box-shadow: 0 5px 5px 1px hsla(223, 100%, 88%, 0.7);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.dashboard-img {
    max-width: 350px;
    margin-bottom: 100px;
}

/* SOCIAL MIDIA */
.social-media {
    display: flex;
    width: 150px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
.fab {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    color: var(--blue);
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    margin-left: 15px;
}

.copy {
    font-size: .8rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--gray);
}

/* BREAKPOINT DESTKTOP */
@media (min-width: 992px) {

}